*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT MACRO AREAS ----------------------------------------*/
.main-wrapper{
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    width: 100vw;
}
.toolbar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 100px;
}
.main-container{
    background-color: rgb(7, 6, 6);
    flex-grow: 1;
    display: flex;
    height: calc(100vh - 80px);
    width: 100vw;
}
.nav-bar{
    height: calc(100vh - 80px);
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.premium{
    height: 80px;
    width: calc(100vw - 200px);
    background-color: #080B12;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 15px;
}
.music-playlist{
    height: calc(100vh - 80px - 80px);
    width: calc(100vw - 170px);
    background-color: #141922;
    overflow-y: auto;
}

/* TOOLBAR --------------------------------------------------*/

.toolbar_side{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.toolbar_center{
    flex-grow: 1;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}

/* TOOLBAR SIDE (LEFT & RIGHT)----------- */
.toolbar_side_piece{ 
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}
.toolbar_side_piece>img{
    max-height: 50%;
    padding: 0 5px;
}
.toolbar_side_buttons{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding-right: 8px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.toolbar_side_description>h5{
    color: white;
}
.toolbar_side_description h6 a{
    color: #b4b3b3;
}
.toolbar_side_description h6 a:hover{
    color: white;
    text-decoration: underline;
}

.icon{
    color:#b4b3b3 ;
}
.icon:hover {
    color: white;
}

.volume-slider{
    max-width: 100%;
    min-width: 200px;
    border-radius: 2px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-slider_1{
    height: 4px;
    width: 100%;
    background-color: #b4b3b3;
    border-radius: 8px;
}

.volume-slider_2{
    height: 4px;
    width: 35%;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.toolbar_side .volume-slider{
    padding-right: 60%;
}
.volume-slider:hover .volume-slider_2::after{
    content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
}
.volume-slider:hover .volume-slider_2{
    background-color: rgb(94, 255, 94);
}

/* TOOLBAR CENTER------------ */

.music-control-buttons>ul{
    display: flex;
    list-style: none;
    gap: 12px;
    align-items: center;
}

#play-icon{
    font-size: 28px;
    padding: 0 10px;
}

.music-progress-slider_wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.minutes{
    color: white;
    font-size: 12px;
}

/* NAV-BAR------------------------------------- */

.logo-nav{
    height: 70px;
    width: 100%;
}
.logo-nav>img{
    height: 70%;
    padding-top: 10px;
}
.nav-buttons{
    font-size: 12px;
}
.nav-buttons ul li:hover{
    color: white;
}
.nav-buttons ul li{
    display: flex;
    gap: 8px;
    color:#b4b3b3;
}
.nav-buttons ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn_description a{
    color:#b4b3b3;
}
.btn_description a:hover{
    color: white;
}

/* ----- */
.playlist-title{
    color:#b4b3b3;
}
.playlist-title>h5{
    text-transform: uppercase;
    padding-top: 18px;
    padding-bottom: 14px;
    font-size: 15px;
    color:white;
}
.create-playlist a{
    display: flex;
    gap: 10px;
    height: 25px;
    align-items: center;
    color:#b4b3b3;
    text-decoration: currentColor;
}
.create-playlist a:hover{
    color: white;
}
.create-playlist i{
    font-size: 30px;
}
.playlist-title .create-playlist:hover{
    color: white;
}

/* --------- */

.playlist-li{
    overflow-y: auto;
}
.playlist-li a {
    color:#b4b3b3;
    font-size: 12px;
    text-decoration: currentColor;
}
.playlist-li a:hover{
    color: white;
}
.playlist-li{
    display: flex;
    flex-direction: column;
    gap: 9px;
    flex-grow: 1;
}
/* ----- */
.nav-footer a{
    color:#b4b3b3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav-footer a:hover{
    color: white;
}
.nav-footer_download{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 8px;
}
.nav-footer_download i{
    font-size: 14px;
    color:#b4b3b3;
}
.hr{
    width: 100%;
    height: 0.5px;
    background-color:#b4b3b3;
    margin-bottom: 8px;
}
.user-name{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 8px;
}
.user-name_text{
    flex-grow: 1;
    color:white;
    font-size: 13px;
}
.propic>img{
    width: 28px;
    height: 28px;
    background-color: gray;
    border-radius: 50%;
    object-fit: contain;
}

/* PREMIUM ---------------------------- */
    .premium a div{
        color: white;
        background-color: #141922;
        border: solid 1px white;
        padding: 10px 25px;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 11px;
    }

    /* MUSIC PLAYLIST---------------------- */

    .music-selection{
        display: flex;
        justify-content: center;
        gap: 10px;
        text-transform: uppercase;
        padding-top: 18px;
        font-size: 14px;
    }
    .music-selection a {
        color:#b4b3b3;
        text-decoration: currentColor;
    }
    .music-selection a:hover{
        color: white;
    }

    .underline_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .underline{
        width: 28px;
        height: 3px;
        background-color: lime;
        margin-top: 3px;
    }

    .music-wrapper{
        overflow-y: auto;
    }
    .music-card_wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 1%;
        flex-grow: 1;
    }
    .music-card{
        flex-direction: column;
        display: flex;
        width:calc( 95% / 6 );
        text-align: center;
        color: white;
    }
    .music-card_img{
        position: relative;
    }
    .music-card_img i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 35px;
        visibility: hidden;
        z-index: 2;
    }
    .music-card:hover .music-card_img i{
        visibility: visible;
    }
    

    .music-card_img>img{
        width: 100%;
        height: 100%;
    }

    /* REGOLE OVERLAY----------------------- */
    .overlay::after{
        content: '';
        display: block;
        position: absolute;
        background-color: black;
        opacity: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .overlay:hover::after{
        opacity: 0.4;
        z-index: 1;
    }
