*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LAYOUT MACRO AREAS ----------------------------------------*/
.main-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}
.toolbar{
    width: 100%;
    height: 80px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    gap: 100px;
}
.main-container{
    background-color: rgb(7, 6, 6);
    flex-grow: 1;
    display: flex;
}
.nav-bar{
    height: 100%;
    width: 200px;
}
.main-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.premium{
    height: 80px;
    width: 100%;
    background-color: #080B12;
}
.music-playlist{
    height: 100%;
    background-color: #141922;
}

/* TOOLBAR --------------------------------------------------*/

.toolbar_side{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.toolbar_center{
    flex-grow: 1;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 10px;
}

/* TOOLBAR SIDE (LEFT & RIGHT)----------- */
.toolbar_side_piece{ 
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}
.toolbar_side_piece>img{
    max-height: 50%;
    padding: 0 5px;
}
.toolbar_side_buttons{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding-right: 8px;
}

a{
    text-decoration: currentColor;
}
.toolbar_side_description>h5{
    color: white;
}
.toolbar_side_description h6 a{
    color: #b4b3b3;
}
.toolbar_side_description h6 a:hover{
    color: white;
    text-decoration: underline;
}

.icon{
    color:#b4b3b3 ;
}
.icon:hover {
    color: white;
}

.volume-slider{
    max-width: 100%;
    min-width: 200px;
    border-radius: 2px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-slider_1{
    height: 4px;
    width: 100%;
    background-color: #b4b3b3ab;
    border-radius: 8px;
}

.volume-slider_2{
    height: 4px;
    width: 35%;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.toolbar_side .volume-slider{
    padding-right: 60%;
}
.volume-slider:hover .volume-slider_2::after{
    content: "";
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: white;
}
.volume-slider:hover .volume-slider_2{
    background-color: rgb(94, 255, 94);
}

/* TOOLBAR CENTER------------ */

.music-control-buttons>ul{
    display: flex;
    list-style: none;
    gap: 12px;
    align-items: center;
}

#play-icon{
    font-size: 28px;
    padding: 0 10px;
}

.music-progress-slider_wrapper{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.minutes{
    color: white;
    font-size: 12px;
}